.button {
  width: 35vw;
  color: var(--color-2);
  background-color: var(--color-3);
  padding: 0.6rem 1rem;
  border-radius: 5px;
  letter-spacing: 0.1em;
  text-decoration: inherit;
  &:hover {
    opacity: 0.8;
  }
}
